html,
body {
    color: #333;
    overflow: hidden; /* Prevent scrolling of the main page */
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #fff;
    overscroll-behavior-y: none;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* Container layout */
#container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    position: relative; /* Keep positioning within the container */
}

/* General column layout */
.column {
    padding: 20px;
    margin: 20px;
    vertical-align: top;
    height: calc(100vh - 40px); /* Full viewport height minus padding/margin */
    overflow-y: auto; /* Makes each column scrollable independently */
}

.item {
    color: blue;
}
.item:hover {
    text-decoration: underline;
    cursor: pointer;
}



/* Files column (TOC) */
#files.column {
    /* width: 300px; Fixed width for TOC */
    flex-shrink: 0; /* Prevents the TOC column from shrinking */
    position: absolute; /* Overlay on top */
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 100; /* Ensure it's above the content */
    display: block; /* Make sure it is visible by default */
}

/* Preview column */
#core-recipe.column {
    flex-grow: 1; /* Takes up the remaining space */
    margin-left: 0; /* Full width when files column is hidden */
}

/* Burger menu */
#burger-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 200; /* Ensure it's above content */
}

/* On larger screens, display the files column normally */
@media (min-width: 768px) {
    #burger-menu {
        display: none; /* No burger menu on large screens */
    }

    #files.column {
        display: block; /* Show files column on larger screens */
        position: relative; /* Reset to normal flow on larger screens */
        box-shadow: none; /* No shadow when in normal position */
    }

}

/* On smaller screens (mobile devices), hide the files column and show burger menu */
@media (max-width: 768px) {
    #burger-menu {
        display: block; /* Show burger menu on mobile */
    }

    #core-recipe.column {
        width: 100%; /* Make the core-recipe full width when the TOC is hidden */
    }

    #container {
        flex-direction: column; /* Stack the columns vertically */
    }

}
